{% extends "layouts/base.html" %}

{% block title %} P4 Compiler {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">

            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">P4 Compiler</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">P4 Compiler</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Compile P4 Program</h5>
                            </div>
                            <div class="card-body">
                                <h5>P4 Program</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <form>
                                            <div class="form-group">
                                                <label for="compiler-selection">Compiler</label>
                                                <select class="form-control" id="compiler-selection">
                                                    <option>T4P4S</option>
                                                    <option>P4C-PSA</option>
                                                    <option>P4C-DPDK</option>
                                                    <option>P4C-eBPF</option>
                                                    <option>P4C-uBPF</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="source-text">Source</label>
                                                <textarea class="form-control" id="source-text" rows="3"></textarea>
                                            </div>
                                            <hr>
                                            <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Compile</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
