{% extends "layouts/base.html" %}

{% block title %} P4 Switch Target {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">P4 Switch Target</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">P4 Switch Target</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ tabs ] start -->
                                <div class="col-sm-12">
                                    <h5>Switch Target Configuration</h5>
                                    <hr>
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active text-uppercase" id="t4p4s-tab" data-toggle="tab" href="#t4p4s" role="tab" aria-controls="t4p4s" aria-selected="true">T4P4S</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-uppercase" id="bmv2-tab" data-toggle="tab" href="#bmv2" role="tab" aria-controls="bmv2" aria-selected="false">BMv2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-uppercase" id="dpdk-tab" data-toggle="tab" href="#dpdk" role="tab" aria-controls="dpdk" aria-selected="false">DPDK</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="t4p4s" role="tabpanel" aria-labelledby="t4p4s-tab">
                                            <p class="mb-0"></p>
                                        </div>
                                        <div class="tab-pane fade" id="bmv2" role="tabpanel" aria-labelledby="bmv2-tab">
                                            <p class="mb-0"></p>
                                        </div>
                                        <div class="tab-pane fade" id="dpdk" role="tabpanel" aria-labelledby="dpdk-tab">
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ tabs ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
