<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        P4Pi - {% block title %}{% endblock %}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="P4 on Raspberry Pi for Networking Education" />
    <meta name="keywords" content="p4, raspberry pi"/>
    <meta name="author" content="Radostin Stoyanov"/>

    <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">

    {% block stylesheets %}{% endblock stylesheets %}

</head>

<body>

    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>

    {% include 'includes/navigation.html' %}

    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            {% for message in messages %}
            <div class="messages">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message | safe }}
                </div>
            </div>
            {% endfor %}

            {% block content %}{% endblock content %}

        </div>
    </div>

    {% include 'includes/scripts.html' %}{% block javascripts %}

    {% endblock javascripts %}

</body>
</html>
