[Unit]
Description=Setup veth and bridge interfaces for packet processing
Requires=systemd-networkd.service
After=network.target

[Service]
ExecStart=/usr/sbin/p4edge-setup

[Install]
WantedBy=multi-user.target
