[Unit]
Description=Setup veth and bridge interfaces for packet processing
Requires=systemd-networkd.target
After=systemd-networkd.target
After=network.target

[Service]
ExecStart=/usr/sbin/p4pi-setup

[Install]
WantedBy=multi-user.target