[Unit]
Description=Setup eth wlan bridge for p4pi l2switch example

[Service]
Type=oneshot
ExecStart=/usr/sbin/p4pi_setup_eth_wlan_bridge
ExecStop=
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
